<?xml version="1.0" encoding="utf-8"?>
<extension version="3.1" type="plugin" group="authentication">
	<name>plg_authentication_lpsaml</name>
	<author>LastPass</author>
	<creationDate>April 2014</creationDate>
	<copyright>Copyright (C) 2014 LastPass</copyright>
	<license>GNU Lesser General Public License version 2.1 or later; see LICENSE.txt</license>
	<authorEmail>support@lastpass.com</authorEmail>
	<authorUrl>https://lastpass.com</authorUrl>
	<version>VERSION</version>
	<description>PLG_AUTH_LPSAML_XML_DESCRIPTION</description>
	<files>
PLUGIN_FILES
	</files>
	<languages>
		<language tag="en-GB">en-GB.plg_authentication_lpsaml.ini</language>
		<language tag="en-GB">en-GB.plg_authentication_lpsaml.sys.ini</language>
	</languages>
	<config>
		<fields name="params">
			<fieldset name="basic">
				<field name="idp_entity_id"
					type="text"
					default="https://lastpass.com/saml/idp"
					description="PLG_AUTH_LPSAML_IDP_ENTITY_ID_DESC"
					label="PLG_AUTH_LPSAML_IDP_ENTITY_ID_LABEL"
					size="20"
					/>

				<field name="idp_login"
					type="text"
					default=""
					description="PLG_AUTH_LPSAML_IDP_LOGIN_DESC"
					label="PLG_AUTH_LPSAML_IDP_LOGIN_LABEL"
					size="20"
					/>

				<field name="idp_logout"
					type="text"
					default=""
					description="PLG_AUTH_LPSAML_IDP_LOGOUT_DESC"
					label="PLG_AUTH_LPSAML_IDP_LOGOUT_LABEL"
					size="20"
					/>

				<field name="idp_cert"
					type="textarea"
					default=""
					description="PLG_AUTH_LPSAML_IDP_CERT_DESC"
					label="PLG_AUTH_LPSAML_IDP_CERT_LABEL"
					cols="80"
					rows="10"
					/>
			</fieldset>
		</fields>
	</config>
</extension>
